html, body {
	background: #000;
}
#game {
	background: #3EAF3E;
	width: 80%;
  height: 650px;
  margin-left: 120px;
}
#gameDetails {
  background: #305C30;
	width: 20%;
  height: 100px;
  margin-left: 380px;
  margin-top: 500px;
  position: absolute;
}
#gameDetails > li {
text-align: center;
padding-right: 65px;
margin: 5px 5px 5px 5px;
}
#gameDetails > ul {
	list-style-type: none;
}
#cardDispatch {
	background-color: #fff;
	width: 6%;
  height: 100px;
  margin-left: 790px;
  margin-top: 500px;
  position: absolute;
  border-radius: 7px;
  border: 3px solid  rgb(168, 19, 19);
}
#cardDispatch > img {
	padding: 12px 10px 0 10px;
	height: 70%;
	width: 70%;
	position: absolute;
}
